<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space AstroResume</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="github-theme">
    <header>
        <nav>
            <div class="logo">
                <i class="fas fa-rocket"></i>
                <h1>Space AstroResume</h1>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'templates' %}">Templates</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'resume_form' %}">Create Resume</a></li>
            </ul>
        </nav>
       
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>